extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div 
      h1 Hello, Future Employer!
      p.lead.text-light
        | You are now looking at my portfolio site that was built with JavaScript, Node.js, Express, and pug technologies.
        | Feel free to look around! Below, you will find my projects. Click on them for more info!
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.thumb}`)
            h5 #{project.project_name}